<template name="reportList">
    <ul class="report-list">
        {{#each reports}}
            {{> reportListEntry }}
        {{/each}}
    </ul>
</template>

<template name="reportListEntry">
    <li class="list-entry">
        <a href="{{pathFor 'report'}}">
            <div class="report-list-entry">
                <div class="indicators">
                    <span class="indicator {{status}}"></span>
                </div>
                <div class="title">{{title}}</div>
            </div>
        </a>
    </li>
</template>

<template name="report">
    <div class="report master-section section-primary">
        <div class="container mobile-padding">
            <h1>{{report.title}}</h1>
            <h3>{{capitalize report.status}}</h3>
        </div>
    </div>
</template>