<template name="topBar">
    <header class="navigation">
        {{#if currentUser}}
            <div class="navigation-wrapper">
                <a href="" class="logo"></a>
                    <div class="nav">
                        <ul id="navigation-menu-primary">
                            <li class="nav-link mobile-hidden"><a href="/"><b>Status</b></a></li>
                        </ul>
                    </div>
                    <div class="navigation-tools">
                        <ul id="navigation-menu-secondary">
                            <li class="nav-link">
                                <a href="{{pathFor 'user' data=currentUser}}">
                                    {{> avatar user=currentUser size="small" shape="circle"}}
                                </a>
                            </li>
                            <li class="nav-link"><a href="" id="navbar-logout">Logout</a></li>
                        </ul>
                    </div>
            </div>
        {{/if}}
    </header>
</template>