@import "../bourbon/bourbon";
@import "../base/base";
@import "../neat/neat";

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#slideout-toggle-button {

  .button-content {
    background: none;
    color: $base-accent-color;
    font-size: em(22);
    margin: 0;
    padding: em(15) em(20);
  }
}

#menu {
  background: $base-background-color;
}

#panel {
  background-color: $darker-background-color;
  height: 100%;
}